<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrCrib | Welcome</title>
</head><!--/head-->

<body>
  <section id="home-slider">
      <div class="container">
          <div class="main-slider">
              <div class="slide-text">
                <h1>Find Ur Crib</h1>
                <p>Moving to a new place? Ur Crib can help you find the perfect location, Roommate, learn about your new neighborhood &amp; sell your items before moving.</p>
                <a href="/members/sign_up" class="btn btn-common">GET STARTED</a>
              </div>
              <%= image_tag "temp/house.png", class: "img-responsive slider-house", alt: "slider image" %>
              <%= image_tag "temp/circle1.png", class: "slider-circle1", alt: "slider image" %>
              <%= image_tag "temp/circle2.png", class: "slider-circle2", alt: "slider image" %>
              <%= image_tag "temp/cloud1.png", class: "slider-cloud1", alt: "slider image" %>
              <%= image_tag "temp/cloud2.png", class: "slider-cloud2", alt: "slider image" %>
              <%= image_tag "temp/cloud3.png", class: "slider-cloud3", alt: "slider image" %>
              <%= image_tag "temp/sun.png", class: "slider-sun", alt: "slider image" %>
              <%= image_tag "temp/cycle.png", class: "slider-cycle", alt: "slider image" %>
          </div>
      </div>
  </section>

  <section id="services">
      <div class="container">
          <div class="row">
              <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="single-service">
                      <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                          <%= image_tag "temp/icon1.png" %>
                      </div>
                      <h2>Find Good Locations</h2>
                      <p>Get to know the place before you move. See nearby transit, restaurants &amp; stores info to find the best crib suitable.</p>
                  </div>
              </div>
              <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                  <div class="single-service">
                      <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                          <%= image_tag "temp/icon2.png" %>
                      </div>
                      <h2>Avoid Cold Feet</h2>
                      <p>Have a chat and know your roommate or renter better before you decide. Every member of UrCrib is a verified member.</p>
                  </div>
              </div>
              <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                  <div class="single-service">
                      <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                          <%= image_tag "temp/icon3.png" %>
                      </div>
                      <h2>Moving Sale</h2>
                      <p>Post the items you feel are unwanted in your new crib for sale.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section id="action">
      <div class="vertical-center">
           <div class="container">
              <div class="row">
                  <div class="action count">
                      <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                          <h1 class="timer bold" data-to="7000" data-speed="3000" data-from="0">700</h1>
                          <h3>Members</h3>
                      </div>
                      <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                          <h1 class="timer bold" data-to="12" data-speed="3000" data-from="0">1000</h1>
                          <h3>Cribs Posted</h3>
                      </div>
                      <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                          <h1 class="timer bold" data-to="432" data-speed="3000" data-from="0">600</h1>
                          <h3>Sale Items Posted</h3>
                      </div>
                      <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                          <h1 class="timer bold" data-to="145" data-speed="3000" data-from="0">11,000</h1>
                          <h3>Total Visitors</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
 </section>

</body>
</html>
